# DJANGO SETTINGS
DEBUG=1
SECRET_KEY=bar
ALLOWED_HOSTS=localhost,127.0.0.1,curtis-knowable-alayah.ngrok-free.dev,[::1]
CSRF_TRUSTED_ORIGINS=https://curtis-knowable-alayah.ngrok-free.dev

# DATABASE
DATABASE=postgres
SQL_ENGINE=django.contrib.gis.db.backends.postgis
SQL_DATABASE=rzo_coeur_db
SQL_USER=admin
SQL_PASSWORD=password
SQL_HOST=localhost
SQL_PORT=5432

# Geospatial libraries
GDAL_LIBRARY_PATH="/usr/local/opt/gdal/lib/libgdal.dylib"
GEOS_LIBRARY_PATH="/usr/local/opt/geos/lib/libgeos_c.dylib"

# API Configuration
# Maximum number of articles that can be created in a single bulk request (default: 50)
MAX_ARTICLES_PER_REQUEST=10

# Email (Mailhog for local development)
EMAIL_HOST=localhost #if using docker-compose, set to "mailhog"
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=contact@leresos.com


# MinIO / Object Storage
# Set MINIO_ENDPOINT_URL to enable S3 storage (leave empty to use local filesystem)
MINIO_ENDPOINT_URL=http://localhost:9000   # use http://minio:9000 in docker-compose
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=articles-photos
MINIO_BROWSER_REDIRECT_URL=http://mydomain.com/minio/

# Public base URL of the API (used to build MinIO public URLs and more)
API_URL=https://curtis-knowable-alayah.ngrok-free.dev

# Production only
WEBHOOK_SECRET=
FORCE_SCRIPT_NAME=
BREVO_API_KEY=
